.ex-docs {
  padding-bottom: 60px;
  h1 {
    text-align: center;
    color: #232323;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 42px;
  }
  p {
    padding-bottom: 60px;
    color: #2e3035;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.11px;
  }
}