.ex-money {
  padding-bottom: 60px;
  padding-top: 50px;
h1 {
  text-align: center;
  color: #232323;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}

  h4 {
    color: #2e3035;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.11px;
  }
  .ex-main-btn {
    margin-top: 60px;
  }
}
