.ex-home {
  padding-bottom: 60px;
  padding-top: 30px;
  h1 {
    text-align: center;
    color: #152935;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.3px;
    margin-bottom: 0;
    @media (max-width: 991px) {
      font-size: 20px;
    }
  }
  .ex-main-section {
    height: 560px;
    width: 100%;
    background-image: url("../img/bg-start.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 991px) {
      height: auto;
      background-image: none;
      padding-bottom: 40px;
    }
    .ex-calc-block {
      padding-top: 72px;
      position: relative;
      @media (max-width: 991px) {
        padding-top: 20px;
      }
      .ex-wrapper {
        border: 1px solid rgba(155, 155, 155, 0.3);
        background-color: #ffffff;
        padding: 30px 40px 33px 40px;
        @media (max-width: 767px) {
          padding: 15px;
        }
        .ex-crumbs {
          .ex-unique {
            display: inline-block;
            color: #546066;
            font-size: 12px;
            font-weight: 300;
            line-height: 20px;
            margin-bottom: 7px;
          }
          .ex-result-style {
            padding: 5px 15px;
            border: 1px solid #e0e0e0;
            background-color: #ffffff;
            text-align: right;
            margin-bottom: 25px;
            @media (max-width: 1199px) and (min-width: 992px) {
              padding: 5px 10px;
            }
            span {
              color: #2e3035;
              font-size: 24px;
              font-weight: 700;
              line-height: 50px;
              letter-spacing: 0.1px;
              @media (max-width: 1199px) and (min-width: 992px) {
                font-size: 20px;
              }
            }
          }
        }
      }
      .ex-result-prob {
        padding: 16px 40px;
        border-radius: 5px;
        border: 1px solid #ffc400;
        background-color: #ffffff;
        .ex-unique {
          color: #546066;
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 0.1px;
        }
        .ex-prob {
          margin-left: 20px;
          color: #ffc400;
          font-weight: 900;
        }
        @media (max-width: 1199px) {
          padding: 14px;
        }
        @media (max-width: 767px) {
          margin-top: 20px;
        }
      }
      .ex-range-slider {
        margin-bottom: 20px;
        position: relative;
        span.ex-small-cost {
          position: absolute;
          bottom: -16px;
          color: #9b9b9b;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          &.ex-left {
            left: 0;
          }
          &.ex-right {
            right: 0;
          }
        }
        .ex-choose {
          color: #546066;
          font-size: 14px;
          font-weight: 300;
          line-height: 20px;
          margin-bottom: 0;
        }
      }

    }
    .ex-for-img {
      width: 525px;
      height: 450px;
      background-image: url("../img/notebook.png");
      background-repeat: no-repeat;
      background-size: contain;
      @media (max-width: 1199px) {
        width: 472px;
      }
    }
  }
  .ex-why-zaim {
    padding: 66px 60px;
    background-color: #f5f7fa;;
    @media (max-width: 991px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    h2 {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.11px;
      margin-bottom: 40px;
    }
    h3 {
      color: #5596e6;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 0.15px;
      margin-bottom: 20px;
    }
    p {
      margin-top: 34px;
      color: #5a6872;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.1px;
    }
    .ex-icon-block {
      position: relative;
      width: 160px;
      height: 160px;
      background-color: #ffffff;
      margin: 0 auto;
      z-index: 2;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: -160px;
        display: block;
        width: 100%;
        height: 4px;
        background-color: #5596e6;
        z-index: 1;
        @media (max-width: 991px) {
          display: none;
        }
      }
    }
    .ex-icon-block.ex-dn {
      &:before {
        display: none;
      }
    }
  }
  .ex-newsletter {
    padding: 122px 0;
    @media (max-width: 991px) {
      padding: 40px 0;
    }
    h2 {
      text-align: center;
      color: #2e3035;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.11px;
      margin-bottom: 40px;
    }
    .ex-art-block {
      background-color: #f5f7fa;
      padding: 26px;
      min-height: 300px;
      h3 {
        color: #232323;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.1px;
        margin-bottom: 20px;
      }
      p {
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0.1px;
        margin-bottom: 0;
      }
      @media (max-width: 991px) {
        min-height: auto;
        margin-bottom: 20px;
      }
    }
  }
  .ex-otzive {
    h2 {
      text-align: center;
      color: #2e3035;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.11px;
    }
    .ex-about-block {
      margin-top: 70px;
      margin-bottom: 90px;
      .ex-for-img {
        text-align: center;
        overflow: hidden;
      }
      h4 {
        margin-top: 10px;
        text-align: center;
        color: #232323;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.08px;
      }
      p {
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0.1px;
        margin-bottom: 0;
        @media (max-width: 991px) {
          text-align: center;
        }
      }

    }
  }

}
